
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

body{
    margin:0px;
}
.cont{
    width: 100%;
    border: 1px solid #000;
}

.titulo{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Bungee Tint", sans-serif;

}