
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

body{
    margin:0px;
    padding: 0px;
}
.cont{
    width: 100%;
}

.titulo{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "New Amsterdam", sans-serif;
    font-size: 44px;
    color: #FFFFFF;
    background: #000000;
    text-shadow: 4px 3px 0 #7A7A7A;
}

.conteudo{
    width: 90%;
    display: flex;
    padding: 40px;
}

.conteudo img{
    width: 300px;
    border-radius: 15px;/
}

.lesquerdo{
    text-align: center;
}